body{/*
    background-image: linear-gradient(grey,pink);
    fill: ; */
    
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);


 }

marquee{
    margin-top: 20px;
    font-size:xx-large;
    
    color: rgb(206, 12, 54);
    font-weight: 800px;
    text-align: top;
}
.container{
    display:flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    
}
img{
    width:300px;
    height:300px;
    
}



.ele{
    background-color: white;
    border:5px;
    border-radius: 5px;
    margin: 20px;
    width:300px;
    padding:20px 20px 20px 20px ;
    
    text-align: center;
    

}
p{
    font-size: larger;
    font-weight: 500;
    
}
p:hover{
    color:crimson;
}