body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}
.container{
    background-color:aliceblue;
    border-radius: 10px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    background: rgb(245, 201, 220);
}
.head
{
    font-size:large;
    color: rgb(14, 96, 204);
}
.points{

    font-weight: 400;
    
    color: black;


}
li:hover{
font-weight:800 ;
}
